<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:26:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UsingExcell.setUp()[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:04</td>   <td>11308</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UsingExcell.tearDown()[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:26:58</td>   <td>5851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:26:59</td>   <td>6381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:26:59</td>   <td>6945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:00</td>   <td>7671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:01</td>   <td>8136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:01</td>   <td>8680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:02</td>   <td>9152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:02</td>   <td>9728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:03</td>   <td>10217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>18/04/13 15:27:03</td>   <td>10806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcell.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcell@7791a895]">testUsingExcel</td> 
  <td>main@603650290</td>   <td></td> </tr>
</table>
