@CHARSET "ISO-8859-1";

body {
	background-image: url("../image/reservation-list.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.message {
	display: none;
}

a:-webkit-any-link {
	border-radius: 12px;
	color: #000001;
	cursor: pointer;
	text-decoration: none;
}

label, button {
	color: #b76719;
	display: block;
	margin-top: 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	left: 200px;
}

th {
	position: relative;
	height: 50px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #000000;
}

td {
	text-align: center;
	border: 1px solid #000000;
}

caption {
	display: table-caption;
	border: 2px solid #000000;
	text-align: -webkit-center;
	font-weight: bold;
	font-size: 150%;
	border: 2px solid #000000;
}